@mixin center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin grid{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;

}

.section__cupcakewar {
    @include center;
}

.section__cupcakewar1 {
    @include center;
}

.galeria_catalogo_img {
    @include grid;
}

.galeria_tienda_img {
    @include grid;
}

.slide_img{
    @include grid;
}

.section__centrar {
    margin-top: 10px;
    text-align: center;
    font-family: $letras;
}

.box2 {
    align-items: center;
    width: 150px;
}

footer {
    justify-content: center;
    margin-bottom: 0;
    margin-top: 1.5em;
}