label {
    color: #333;
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px;
    }
    
.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;

}

.col-md-12{
    margin-top: 10px;
}