* {
    margin: 0;
    padding: 0;
}

html {
    font-size: $size;
}

body {
    background: url(../images//background4.jpg); 
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;


    h1, h2 {
        font-size: 3.5em;
    }
    a {
        font-size: 1.5em;
    }
    
    p {
        font-size: 1.5em;
    }
}
.main__center {
    font-family: $letras_titulos;
    color: $colorTitulo;
    p{
        font-size: 3em;
    }
    h1{
        font-size: 4.5em;
    }
}

.cirulo {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}
