.navbar.navbar-light.navbar-expand-md.bg-faded.justify-content-center li a {
    color: rgb(10, 5, 2);
    font-family: $letras;
    font-size: 20px;
    margin-right: 20px;
}

nav.custom { 
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    z-index: 5; /* Make sure the image is behind the navbar, to show the effect */
    margin-bottom: 10px;
}
