
%box-format {
    width: 233px;
    height: 357px;
}

.trans {
    transition-property: all;
    transition-duration: 2s;
}

.box {
    @extend %box-format;

}

.card:hover{
    transform: scale(1.05);
}

.box:hover {
    transform: scale(1.1);
}

.cards-wrapper {
    display: flex;
    justify-content: center;
}

.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
    margin-top: 15px;
    h5{
        color: black;
        font-size: 2em;
    }
    p{
        color: black;
    }

}

.slide{
    color: white;
    background-image: url();
    h1{
        color: white;
        font-family: $letras_titulos;
    }
    background: url(../images/banner2.jpg);
}
