$letras: "Open Sans", sans-serif;
$colorFondo:  rgb(92, 55, 38);
$colorFondo2: linear-gradient(180deg, hwb(0 100% 0%) 0%, rgb(241, 189, 226) 100%);
$size: 62.5%;
$colorTitulo: black;
$letras_titulos: "Dancing Script", cursive;