@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: url(../images//background4.jpg);
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}
body h1, body h2 {
  font-size: 3.5em;
}
body a {
  font-size: 1.5em;
}
body p {
  font-size: 1.5em;
}

.main__center {
  font-family: "Dancing Script", cursive;
  color: black;
}
.main__center p {
  font-size: 3em;
}
.main__center h1 {
  font-size: 4.5em;
}

.cirulo {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.section__cupcakewar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__cupcakewar1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.galeria_catalogo_img {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

.galeria_tienda_img {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

.slide_img {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

.section__centrar {
  margin-top: 10px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.box2 {
  align-items: center;
  width: 150px;
}

footer {
  justify-content: center;
  margin-bottom: 0;
  margin-top: 1.5em;
}

.box {
  width: 233px;
  height: 357px;
}

.trans {
  transition-property: all;
  transition-duration: 2s;
}

.card:hover {
  transform: scale(1.05);
}

.box:hover {
  transform: scale(1.1);
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
  margin-top: 15px;
}
.card h5 {
  color: black;
  font-size: 2em;
}
.card p {
  color: black;
}

.slide {
  color: white;
  background-image: url();
  background: url(../images/banner2.jpg);
}
.slide h1 {
  color: white;
  font-family: "Dancing Script", cursive;
}

/*declarando grid area */
.titulo {
  grid-area: titulo;
  margin-bottom: 15px;
}

.slide {
  grid-area: slide;
}

footer {
  grid-area: footer;
}

.galeria_catalogo {
  grid-area: galeria_catalogo;
}

.galeria_tienda {
  grid-area: galeria_tienda;
}

/* grilla general */
.home_grid {
  display: grid;
  margin-top: 10px;
  grid-template-areas: "titulo" "slide" "footer";
}

.catalogo_grid {
  display: grid;
  grid-template-areas: "titulo" "galeria_catalogo" "footer";
  margin-top: 10px;
}

.tienda_grid {
  display: grid;
  grid-template-areas: "titulo" "galeria_tienda" "footer";
  margin-top: 10px;
}

/* Declaracion de MQ*/
@media (min-width: 500px) {
  .catalogo_grid {
    display: grid;
    grid-template-areas: "titulo           titulo" "galeria_catalogo galeria_catalogo" "footer           footer";
    grid-template-columns: 1fr 3fr;
    margin-top: 10px;
  }
  .galeria_catalogo_img {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .tienda_grid {
    display: grid;
    grid-template-areas: "titulo         titulo" "galeria_tienda galeria_tienda" "footer         footer";
    margin-top: 10px;
  }
  .galeria_tienda_img {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .catalogo_grid {
    display: grid;
    grid-template-areas: "titulo           titulo           titulo" "galeria_catalogo galeria_catalogo galeria_catalogo" "footer           footer           footer";
    margin-top: 10px;
  }
  .galeria_catalogo_img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .slide_img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.navbar.navbar-light.navbar-expand-md.bg-faded.justify-content-center li a {
  color: rgb(10, 5, 2);
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin-right: 20px;
}

nav.custom {
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 5; /* Make sure the image is behind the navbar, to show the effect */
  margin-bottom: 10px;
}

label {
  color: #333;
}

.btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 80%;
  margin-left: 3px;
}

.help-block.with-errors {
  color: #ff5050;
  margin-top: 5px;
}

.col-md-12 {
  margin-top: 10px;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 105%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -2;
}/*# sourceMappingURL=estilos.css.map */