@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: rgb(252, 250, 252);
  background: linear-gradient(180deg, hwb(0 100% 0%) 0%, rgb(241, 189, 226) 100%);
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body h1, body h2 {
  font-size: 3.5em;
}
body a {
  font-size: 1.5em;
}
body p {
  font-size: 1.5em;
}

.main__center {
  font-family: "Open Sans", sans-serif;
  color: black;
}

.box2 {
  align-items: center;
  width: 150px;
}

footer {
  justify-content: center;
  margin-bottom: 0;
  margin-top: 1.5em;
}

.section__cupcakewar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__cupcakewar1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.section__centrar {
  margin-top: 10px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.galeria_catalogo_img {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

.galeria_tienda_img {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

.trans {
  transition-property: all;
  transition-duration: 2s;
}

.box {
  width: 235px;
  height: 357px;
}

.box:hover {
  transform: scale(1.1);
}

.card {
  margin-top: 10px;
}

/*declarando grid area */
.titulo {
  grid-area: titulo;
  margin-bottom: 15px;
}

.slide {
  grid-area: slide;
}

footer {
  grid-area: footer;
}

.galeria_catalogo {
  grid-area: galeria_catalogo;
}

.galeria_tienda {
  grid-area: galeria_tienda;
}

/* grilla general */
.home_grid {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas: "titulo" "slide" "footer";
}

.catalogo_grid {
  display: grid;
  grid-template-areas: "titulo" "galeria_catalogo" "footer";
  margin-top: 10px;
}

.tienda_grid {
  display: grid;
  grid-template-areas: "titulo" "galeria_tienda" "footer";
  margin-top: 10px;
}

/* Declaracion de MQ*/
@media (min-width: 500px) {
  .catalogo_grid {
    display: grid;
    grid-template-areas: "titulo           titulo" "galeria_catalogo galeria_catalogo" "footer           footer";
    grid-template-columns: 1fr 3fr;
    margin-top: 10px;
  }
  .galeria_catalogo_img {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .tienda_grid {
    display: grid;
    grid-template-areas: "titulo         titulo" "galeria_tienda galeria_tienda" "footer         footer";
    margin-top: 10px;
  }
  .galeria_tienda_img {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .catalogo_grid {
    display: grid;
    grid-template-areas: "titulo  titulo            titulo" "galeria_catalogo galeria_catalogo galeria_catalogo" "footer           footer           footer";
    margin-top: 10px;
  }
  .galeria_catalogo_img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.navbar.navbar-light.navbar-expand-md.bg-faded.justify-content-center li a {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin-right: 20px;
}

label {
  color: #333;
}

.btn-send {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 80%;
  margin-left: 3px;
}

.help-block.with-errors {
  color: #ff5050;
  margin-top: 5px;
}

.card {
  margin-left: 10px;
  margin-right: 10px;
}

.col-md-12 {
  margin-top: 10px;
}/*# sourceMappingURL=estilos.css.map */